<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.sourceflow.gradient.code.Bootstrap" level="DEBUG"/>
    <logger name="org.sourceflow.gradient.code.persistence.CodeDao" level="DEBUG"/>
    <logger name="org.sourceflow.gradient.code.service.CodeService" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>